html {
  // 62.5% <=> 10px
  font-size: 62.5%;
  line-height: 1.5;
  font-family: Verdana, sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  overflow: auto !important;
  padding-right: 0 !important;
}

// General
.wrapper {
  max-width: 100%;
  width: 80rem;
  margin: 0 auto;
  padding: 6.4rem 1.6rem;
}
