.base-title {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--segoe-font);
  font-weight: 400;
  letter-spacing: 4px;
  margin: 10px 0;
}

.base-note {
  margin: 1.5rem 0;
  text-align: center;
  font-style: italic;
  opacity: 0.6;
}
