:root {
  --header-h: 4.7rem;
  --segoe-font: "Segoe UI", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:active, a:visited {
  text-decoration: none;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

button,
a {
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  font-family: Verdana, sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  overflow: auto !important;
  padding-right: 0 !important;
}

.wrapper {
  max-width: 100%;
  width: 80rem;
  margin: 0 auto;
  padding: 6.4rem 1.6rem;
}

.base-title {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--segoe-font);
  font-weight: 400;
  letter-spacing: 4px;
  margin: 10px 0;
}

.base-note {
  margin: 1.5rem 0;
  text-align: center;
  font-style: italic;
  opacity: 0.6;
}

.header {
  height: var(--header-h);
}
.header .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #000;
  height: var(--header-h);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1000;
}
.header .header-inner .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header .header-inner .nav-list .nav {
  position: relative;
}
.header .header-inner .nav-list .nav .nav-link {
  display: block;
  padding: 0 2.4rem;
  line-height: var(--header-h);
  color: #fff;
  text-transform: uppercase;
}
.header .header-inner .nav-list .nav:hover .nav-link {
  background: #ccc;
  color: #000;
}
.header .header-inner .nav-list .nav:has(.subnav-list):hover > .subnav-list {
  display: block;
}
.header .header-inner .nav-list .subnav-list {
  display: none;
  min-width: 16rem;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
.header .header-inner .nav-list .subnav-list .subnav:hover .subnav-link {
  background: #ccc;
  color: #000;
}
.header .header-inner .nav-list .subnav-list .subnav .subnav-link {
  display: block;
  padding: 8px 16px;
  color: #000;
}
.header .header-inner .search-btn {
  height: var(--header-h);
  padding: 0 2.4rem;
  font-size: 1.5rem;
  background-color: #000;
  color: #fff;
}
.header .header-inner .search-btn:hover {
  background-color: #f44336;
}

.footer .footer-map img {
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
}
.footer .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  margin-top: 6.4rem;
  margin-bottom: 1.5rem;
}
.footer .social-list a {
  color: #000;
  opacity: 0.6;
  font-size: 2.4rem;
}
.footer .social-list a:hover {
  opacity: 0.4;
}
.footer-copyright {
  text-align: center;
  margin-bottom: 6.4rem;
}
.footer-copyright a:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

.base-btn {
  min-width: 12rem;
  height: 4rem;
  color: #fff;
  background-color: #000;
}
.base-btn:hover {
  color: #000;
  background-color: #ccc;
}

#home .slider .carousel-caption {
  bottom: 2.9rem;
}
#home .slider .carousel-caption h3 {
  font-family: var(--segoe-font);
  font-size: 2.4rem;
  margin: 1rem 0px 1.7rem;
}
#home .band-description {
  text-align: justify;
  margin: 0 -1.5rem 1.5rem;
}
#home .band .member-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 3.2rem 0;
}
#home .band .member-list .member-title {
  text-align: center;
  margin: 1.5rem 0;
}
#home .band .member-list .member-cover {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.6rem;
}
#home .tour {
  background-color: #000;
}
#home .tour .base-title,
#home .tour .base-note {
  color: #fff;
}
#home .tour .tour-ticket-list {
  background-color: #fff;
  margin-top: 2.4rem;
  margin-bottom: 3.2rem;
}
#home .tour .tour-ticket-list .tour-ticket {
  position: relative;
  border-bottom: 1px solid #ddd;
  padding: 8px 16px;
  color: #757575;
}
#home .tour .tour-ticket-list .tour-ticket-sold {
  display: inline-block;
  padding: 0 8px;
  color: #fff;
  background-color: #f44336;
  margin-left: 1.6rem;
}
#home .tour .tour-ticket-list .tour-ticket-quantity {
  --size: 2.4rem;
  position: absolute;
  top: 50%;
  right: 3.2rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: var(--size);
  height: var(--size);
  line-height: var(--size);
  text-align: center;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
}
#home .tour .tour-place-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.6rem;
}
#home .tour .tour-place-list .tour-place {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#home .tour .tour-place-list .tour-place-cover:hover {
  opacity: 0.6;
}
#home .tour .tour-place-list .tour-place-body {
  background-color: #fff;
  padding: 1.6rem;
}
#home .tour .tour-place-list .tour-place-title {
  font-weight: 700;
}
#home .tour .tour-place-list .tour-place-date {
  margin: 1.5rem 0;
  opacity: 0.6;
}
#home .contact-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#home .contact-inner .contact-info-list,
#home .contact-inner .contact-form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
#home .contact-inner .contact-info-list {
  font-size: 1.8rem;
}
#home .contact-inner .contact-info-list .contact-info i {
  display: inline-block;
  width: 2rem;
}
#home .contact-inner .contact-info-list .contact-info a {
  color: #000;
}
#home .contact-inner .contact-info-list .contact-info a:hover {
  opacity: 0.6;
}
#home .contact-inner .contact-form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}
#home .contact-inner .contact-form-row .contact-form-input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
}
#home .contact-inner .contact-form-row .contact-form-input:focus {
  outline-color: #2cccff;
}
#home .contact-inner .contact-form-row:last-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}