.header {
  height: var(--header-h);

  .header-inner {
    position: fixed;
    // inset: 0 0 auto 0;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-h);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background: #000;
    z-index: 1000;

    .nav-list {
      @include flex(start);

      .nav {
        position: relative;

        .nav-link {
          // padding-inline: 2.4rem;
          display: block;
          padding: 0 2.4rem;
          line-height: var(--header-h);
          color: #fff;
          text-transform: uppercase;
        }

        &:hover .nav-link {
          background: #ccc;
          color: #000;
        }

        &:has(.subnav-list):hover > .subnav-list {
          display: block;
        }
      }

      .subnav-list {
        // inset: 0 auto auto 0;
        display: none;
        min-width: 16rem;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);

        .subnav {
          &:hover .subnav-link {
            background: #ccc;
            color: #000;
          }

          .subnav-link {
            display: block;
            padding: 8px 16px;
            color: #000;
          }
        }
      }
    }

    .search-btn {
      height: var(--header-h);
      padding: 0 2.4rem;
      font-size: 1.5rem;
      background-color: #000;
      color: #fff;

      &:hover {
        background-color: #f44336;
      }
    }

    .nav-desktop {
      @include flex(space-between);
      @include mobile {
        display: none;
      }
    }

    .nav-mobile {
      @include flex(space-between);
      display: none;
      width: 100%;

      @include mobile {
        display: flex;
      }

      &-home {
        display: block;
        height: var(--header-h);
        line-height: var(--header-h);
        color: #fff;
        padding: 0 2.4rem;
        text-transform: uppercase;

        &:hover {
          color: #000;
          background-color: #ccc;
        }
      }

      &-menu {
        height: var(--header-h);
        padding: 0 2.4rem;
        color: #fff;
        background-color: transparent;

        &:hover {
          color: #000;
          background-color: #ccc;
        }

        span {
          display: none;
        }
      }

      .nav-list {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        flex-direction: column;
        background: #000;
        width: 100%;

        &.active {
          display: flex;
        }

        .nav,
        .nav-link,
        .subnav-list,
        .subnav {
          width: 100%;
        }

        .nav:has(.subnav-list):hover .subnav-list {
          display: none;
        }

        .subnav-list.active,
        .nav:has(.subnav-list.active):hover .subnav-list.active {
          display: block;
        }

        .subnav > a {
          padding-left: 3.4rem !important;
        }
      }
    }
  }
}
